/*
Right to left css code.

For infomation on this theme, please open and read style.css file.
*/
body, td, th {
	color: #FFFFFF;
	font-family: "Century Gothic";
}

body {
	padding: 0px;
	font-family: Arial;
}
/* FONTS */
@font-face {
	font-family: 'Digitalism';
	src: url('/wp-content/themes/Goldmaster/assets/webfonts/Digitalism/Digitalism.ttf') format('truetype');
}

/* Add a background colour to the top navigation */

.topnav {
	background-color: ;
	overflow: hidden;
	margin: 0px;
	font-family: 'Digitalism', sans-serif;
	text-align: center;
	a:hover {
		color: red;
	}
}
/* Style the links inside the navigation bar */

.topnav a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    font-size: 17px;
    font-family: 'Digitalism', sans-serif;
    font-family: 'Digitalism';
	src: url('/wp-content/themes/Goldmaster/assets/webfonts/Digitalism/Digitalism.ttf') format('truetype');
}
/* Add an active class to highlight the current page */

.hover {
	background-color: #FFFFFF;
	color: red;
}
/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
	display: none;
}
/* Hopefull fix for White space */

.hero {
	vertical-align: bottom;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 900px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: left;
		display: block;
	}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 900px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
		position: absolute;
		left: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: right;
	}
	/* Makes the nav stick at the top of the screen */
	ul {
			{
			border: 0;
		}
		
		/* Safari */
	
		top: 0;
	}
	img {
		float: ;
	}
}
/* Home image postioning */

#home-image .image-right {
	float: left;
	margin: 0px;
	max-width: 571px;
	max-height: 388px;
	width: 100%;
	height: auto;
}
/* give space to content */

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	margin: 10px;
	font-size: "11.35";
}
/* Create 2 equal columns that floats next to each other for music and social media icons */

.social-column {
	float: right;
	text-align: center;
	align-content: center;
	vertical-align: bottom;
	width: 50%;
	padding: 0px;
	
}
/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}
.Row a:hover {
	color: grey;
}
.external-links a {
	text-align: center;
	align-items: center;
	justify-content: center;
	line-height: 10px;
	display: flex;
	padding: 5px;
	text-decoration: none;
}
.center {
	align-content: center;
	max-width: 1000px;
	margin: auto;
}
* {
	box-sizing: border-box;
}
/* Font sytles for heading & subheadings */

h1 {
	font-size: 50px;
	word-break: normal;
	font-family: "Work Sans Black"
}
h2 {
	font-family: "Work Sans Black"
}
/* Style the buttons */

.button {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: white;
	cursor: pointer;
}
.button:hover {
	background-color: #ddd;
}
.button.active {
	background-color: #666;
	color: white;
}
/* Read more button for mediaem posts */

.read-more {
	background-color: orange;
}
/* Listen and buy button css on music info page */

.listen-and-buy {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #666;
	color: white;
	cursor: pointer;
	width: 100%;
}
/* END OF WHOLE WEBSITE CSS */

@import url("webfonts/Digitalism/stylesheet.css");
/* Pulsating colour background to make website look dope */

@-webkit-keyframes pulse {
	0% {
		background-color: #D91243;
	}
	25% {
		background-color: #BD186D;
	}
	50% {
		background-color: #7D176E;
	}
	75% {
		background-color: #7D176E;
	}
	100% {
		background-color: #472066;
	}
}
body {
	/* change colour value to change background */
	background-color: black;
    -webkit-animation: pulse 40s infinite alternate;
    overflow-x: hidden;
}
/* make website look trippie for ease of reading */

.blend {
	mix-blend-mode: difference;
	color: white;
}
a:link {
	text-decoration: none;
	color: #FFFFFF;
}
a:visited {
	text-decoration: #FFFFFF;
	color: #FFFFFF;
}
a:active {
	text-decoration: none;
}

a:hover {
	color: #FF0004;
	color: white;
	text-decoration: none;
	text-align: right;
}
<a class="content-link"></a>a.nav-link:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.nav-link:visited {
	text-decoration: none;
}
a.nav-link:hover {
	text-decoration: none;
}
a.nav-link:active {
	text-decoration: none;
}

/* Center website */

.main {
	max-width: 1000px;
	margin: auto;
}
.row {
	margin: 10px -16px;
}
/* Add padding BETWEEN each column */

.row, .row>.column {
	padding: 8px;
}
/* Create 4 equal columns that floats next to each other */

.column {
	float: right;
	width: 25%;
	display: none;
	/* Hide all elements by default */
}
/* Clear floats after rows */

.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Content */

.content {
	background-color: white;
	padding: 10px;
	height: 400px;
}
/* The "show" class is added to the filtered elements */

.show {
	display: block;
}
.footer-links {
	text-align: center;
	justify-content: right;
	align-items: center;
	line-height: 20px;
	border: 3px;
	display: flex;
}
/* Create two equal columns that floats next to each other for the music page */

.music-info-column {
	float: right;
	width: 50%;
	padding: 10px;
	height: 700px;
}
/* CSS for photo page */

/* Add padding BETWEEN each column */

.row, .row>.photo-column {
	padding: 8px;
}
/* Create 3 equal columns that floats next to each other */

.photo-column {
	float: right;
	width: 33%;
}
/* Clear floats after rows */

.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Content */

.photo-content {
	background-color: white;
	padding: 10px;
	height: 400px;
}
/* Responsive layout - makes a one column-layout instead of four columns */

@media screen and (max-width: 900px) {
	.photo-column {
		width: 25%;
	}
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
	.photo-column {
		width: 100%;
	}
}
/* New CSS */

.menu-home-menu-containerc {
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
}
.menu-home-menu-containerc {
	list-style: none;
	margin-right: 20px;
}
.menu-home-menu-containerc li {
	display: inline-block;
}
.menu-home-menu-containerc li a {
	font-size: 17px;
	padding: 14px 16px;
}
.home-menu-home a {
	content: '';
	height: 16px;
	width: 16px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/home/Home.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
	font-family: 'Digitalism', serif;
}
.home-menu-home a:hover {
	background-image: url('/wp-content/themes/Goldmaster/assets/images/home/Home-Hover.svg');
}
.social-column {
	width: 50%;
	float: right;
}
.social-column h3 {
	text-align: center;
}
/* Social Icons */

.icon-ebay {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Ebay.svg');
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	margin-left: 10px;
	background-size: contain;
}
.icon-deviant, .icon-deviantart, .icon-deviant-art {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/DeviantArt.svg');
	display: inline-block;
	margin-left: 10px;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-ello {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Ello.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-facebook {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/facebook.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-gitlab {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/GitLab.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-instagram {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Instagram.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-linkedin {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/LinkedIn.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-mastodon {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Mastodon.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-medium {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Medium.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-minds {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Minds.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-patreon {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Patreon.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-pinterest {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Pinterest.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-pixelfed {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Pixelfed.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-reddit {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Reddit.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-twitter {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Twitter.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-vero {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Vero.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-youtube {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/socials/Youtube.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
/* Music Icons */

.icon-amazon {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/music/Amazon.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-bandcamp {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/music/Bandcamp.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-beatport {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/music/Beatport.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-deezer {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/music/Deezer.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-itunes {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/music/Itunes.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-mixcloud {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/music/Mixcloud.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-soundcloud {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/music/Soundcloud.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-spotify {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/music/Spotify.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-tidal {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/music/Tidal.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
.icon-youtubemusic, .icon-youtube-music, .icon-youtubemusic {
	content: '';
	height: 20px;
	width: 20px;
	padding: 0px !important;
	background-image: url('/wp-content/themes/Goldmaster/assets/images/music/Youtube-Music.svg');
	display: block;
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	background-size: contain;
}
/* MENU STYLING (FOOTER) */

.social-column ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.social-column ul li {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-column ul li a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-column ul li a:hover { 
	color: #666;

}
/* HAMBURGER */

.hamburger {
	display: none;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before, .hamburger-inner:after, .hamburger-inner:before, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
	background-color: #fff;
}

.mobile-menu {
    display: none;
}

.mobile-logo {
    display: none;
    float: right;
}

.mobile-logo a {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
	.hamburger {
		display: block;
	}
	.cmenu-home-menu-container ul li {
		display: block;
		width: 100%;
	}
	.menu-home-menu-containerc {
		margin: 0px;
	}
	.cmenu-home-menu-container ul li a {
		background-color: ;
		border-bottom: ;
		display: block;
		width: 100%;
	}
	.cmenu-home-menu-container {
		display: none;
	}
	ul .home-menu-home {
		display: none !important;
	}
	.mobile-nav .home-menu-home {
		display: block !important;
	}
	.show-menu {
		display: block !important;
    }
    
    .mobile-logo {
        display: block;
    }

    .mobile-nav {
        float: left;
    }

    .clear {
        clear: both;
    }
}

.menu-home-menu-containerc li a {
    font-family: 'Digitalism' !important;
}

.discography-panel img {
    max-width: 100%;
    height: auto;
}

span.discography-btn {
    color: #333;
    background-color: white;
    padding: 12px 16px;
    margin-left: 5px;
}

span.discography-btn:hover {
    cursor: pointer;
}

.active-btn {
    background-color: #666 !important;
    color: white !important;
}

.discography-panel * {
    color: #000;
   
}

.discography-panel {
    background-color: #fff;
    height: 400px;
    padding: 10px;
    margin: 8px;
    display: block;
    max-width: calc(25% - 16px);
}

.discography-panel h4 {
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .discography-panel {
        background-color: #fff;
        height: auto;
        padding: 10px;
        margin: 24px;
        max-width: calc(100% - 16px);
    }
}

.hide-d-panel {
    display: none;
}

img {
    max-width: 100%;
}


.track-single-container {
    background-color: #fff;
    color: #000;
    padding: 14px;
}



.track-single-container *, .track-single-container a {
    color: #000 !important;
}
.listen-and-buy-btn:hover {
    text-align: center;
}

.track-right-pane * {
    text-align: center;
}

.add-to-any-block a {
    display: inline-block !important;
float: none !important;
}

a.listen-and-buy-btn {
    background-color: #666;
    color: #fff !important;
    margin-right: auto;
    margin-left: auto;
    width: 140px;
    font-size: 16px;
    display: block;
    border-radius: 2px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
}